.cart-table table tr th,.cart-table table tr th.p-name{
    text-align: center;
}

.cart-table table tr td.cart-title {
    text-align: right;
}


.specification-table table tr td {
    text-align: right;
    padding-right: 5px;
}

.product__list-item-name {
    direction: rtl !important;
}