@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);

html {
    direction:rtl;
    font-family: 'Dubai-Bold', sans-serif;
    font-size:18px;
}

//Dubai-Bold, Dubai-Light, Dubai-Medium, and Dubai-Regular.



*:not(i) {
    font-family: 'Dubai-Bold', sans-serif;
}


input {
    text-align: right !important;
}
.inner-header .logo {
    text-align: right;
}

.header-top .ht-right .login-panel i {
    margin-right: 0px;
    margin-left: 8px;
}


.inner-header .advanced-search {
    background-color: white;
}
.inner-header .advanced-search .category-btn {
    float: right;
    padding-left: 0px;
    padding-right: 13px;
    width: 30%;
}

.inner-header .advanced-search .input-group button {
    right: auto !important;
    left: 0px;
    height: 50px;
}

.inner-header .advanced-search .input-group {
    // padding-top: 7px !important;
    // padding-right: 10px;
}

.country-selector.has-value .country-selector__input {

     border-top-left-radius: 0px !important;
     border-bottom-left-radius:0px  !important;
    border-color: yellowgreen;
}


.input-tel__input {
 
 
    border-top-right-radius: 0px !important;
    border-bottom-right-radius:0px  !important;
}

.nav-item .nav-depart {
    float: right;
}

.newslatter-item .subscribe-form button {
    right: auto;
    left: 0;

}

.newslatter-item .subscribe-form input {
    padding-right: 20px;
}

.inner-header .advanced-search .input-group input {
    padding-right: 20px
}


a:hover {
    text-decoration: none
}
@import "./product";