

body {
    background-color: #eeeeee;
}
.subcategories .col-cell
{
    padding:0px !important;
}
.sub-category-cell {
    border-radius: 5px;
    margin: 4px;
    border: none;
}

.sub-category-cell img {
    border-radius: 0px;
}


.sub-category-cell .card-body {
    /*border-top: 2px solid #ddd;*/
    padding:10px 20px;
    border: none;
    height: 48px !important;
    min-height: 48px !important;
    max-height: 48px !important;
    overflow: hidden !important;
}


.sub-category-cell .card-body span {
   font-size: 19px;
    color: #e7ab3c;

}

.margin-btn-10 {
    margin-bottom: 10px;
}
.grid-image-50 {
    height: 124px;
    margin-bottom: 1px;
}
.loading-more .loading
{
    font-size: 22px;
    color: #663333;
    margin-right: 6px;
    position: relative;
    top: 7px;
}

.sk-fading-circle {
    margin: 10px auto !important;
}

.hand-mouse {
    cursor: pointer;
}