/node_modules
/public/hot
/phpmyadmin
/public/storage
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/views/accounting_module/financial_statements/trail_balance.blade.php
