/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*
/public/css/app.css
/public/js/app.js
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.DS_store
.env.testing
database/*.sql
database/dev/

public/js/online-store.js

public/css/store.css
database/prod-backup.sql
