@tailwind base;

@tailwind components;
@import './web/store';
@import './web/variable';
@import './web/plugins';
@import "./web/cart";
@import "./web/checkout";
@import "./web/grid";
@import "./web/page";
@import "./web/home";
@import "./web/product";
a:hover,a:focus {
    color: gray !important;
}

.ais-SearchBox-submit {
    background-color: #b1b1b1 !important;
    color: white !important;
    text-align: right !important;
    padding: 1px !important;
    right: .3rem !important;
    left:auto !important;
  }
  
  .search_in_category {
    text-align:left !important;    width: 100%;padding:0px 5px
  }
@tailwind utilities;



