.cart {
  &__item-checkbox {
    @apply w-5 h-6;
  }

  &__item-checkbox-container {
    @apply w-1/12;
  }

  &__item-image {
    @apply w-20 h-20 rounded-lg object-center self-center mx-auto shadow;
  }

  &__table-raw {
    @apply border-b border-gray-500;

    &__red {
      @apply bg-red-200;
    }

    td {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
    }
  }


  &__totals-buttons {
    @apply w-64 p-3;
  }
  .proceed-checkout {
    text-align: right;
    float: right;
    @apply font-bold shadow;
    font-weight: bolder;
    .proceed-btn
    {
      width: 100% !important;
      background: $secondaryColor !important;
    }

  }

  &__total-amount {
    @apply w-full  p-2 flex flex-col justify-center gap-1  font-bold pb-1 text-center border-b border-gray-200;
  }

  &__shipping-address {
    @apply flex flex-col gap-5;
    .el-select-dropdown , .el-popper {
      top: 409px !important;
    }
    .el-input__inner {
      margin-bottom: 0px !important;
    }
  }


  &__shipping-address-list {
    @apply flex;
  }

  &__shipping-address-right {
    @apply w-7/12 ;
    @screen md {
      @apply w-10/12;
    }
  }

  &__shipping-address-left {
    @apply flex items-center justify-center w-5/12 text-sm ;

    @screen md {
      @apply w-2/12
    }
  }

  &__shipping-address-title {
    @apply text-xl font-bold text-gray-900;
  }


  &__shipping-method-title {
    @apply mb-3 text-xl text-gray-900;
  }

  &__shipping-method-list {
    @apply  grid grid-cols-2 gap-2 ;
    @screen md {
      @apply grid-cols-4;
    }
  }

  &__shipping-method-list-item {
    @apply flex flex-col items-center justify-center gap-5 pb-3 text-xl border rounded shadow-sm;
  }

  &__shipping-method-list-item-image {
    @apply object-cover h-32;

    &__hidden {
      @apply opacity-50
    }
  }
  &__shipping-methods-list  {
    @apply grid grid-cols-2 gap-2;

    @screen md {
      @apply grid-cols-4;
    }
  }


  &__checkout {
    @apply flex items-center justify-center w-full mt-5;
  }


}


.cart-table table tr td.qua-col .pro-qty .qtybtn {
  &:focus {
    @apply outline-none
  }

  
}

.cart-table table tr td.qua-col .pro-qty {
  height: 33px !important;

}

.cart-table table tr td.qua-col .pro-qty .qtybtn,.cart-table table tr td.qua-col .pro-qty input {
  line-height: 28px  !important;
}