.page {

  &__dir-left {
    direction: ltr !important;
  }
  &__w-full {
    @apply w-full;
  }
  &__mt-2 {
    @apply mt-2;
  }
  &__mt-5 {
    @apply mt-5;
  }


  &__-mt-2 {
    @apply -mt-2;
  }
  &__section {
    @apply mt-10 w-10/12 mx-auto;
  }

  &__header-cart-icon-container {
    width: 50px;
    height: 50px;
  }

  &__header-quick-cart {
    @apply flex items-center justify-end w-2/12 m-0 text-center;
  }

  &__header-cart-icon {
    @apply  m-0;
    color: $secondaryColor;
    width: 50px;
    height: 50px;
    @screen md {
      @apply w-16 h-16;
    }
  }

  &__header-cart-icon-counter {
    @apply inline-block w-4 h-8 text-xl rounded-full;
  }

  &__footer-icon {
    @apply w-20;
  }

  &__header-logo-section {
    @apply w-3/12;
  }

  &__header-navbar {
    @apply flex items-center justify-between p-0 m-0;
  }

  &__header-search-field {
    @apply hidden w-8/12;
    @screen md {
      @apply flex;
    }

    &__h {
      @apply flex items-center justify-between p-0 m-0;
      @screen md {
        @apply hidden;
      }
    }

    &__f {
      @apply w-full;
    }
  }

  &__header-search-result {
    @apply absolute z-50 w-full px-3 pt-2 mx-auto bg-white shadow-lg;
  }

  &__header-search-result-item {
    @apply flex justify-between px-2 py-1 font-bold border-b ;
    color: $secondaryColor;
    &:hover {
      @apply text-gray-600;
    }
  }

  &__header-search-result-item-item {
    @apply truncate;
  }

  &__header-search-out-of-stock
  {
    @apply text-red-500 text-sm w-32 text-left
  }

  &__header-search-categories {
    @apply p-2 pt-3 mt-4 mb-1 text-lg font-bold  border-t-2 border-black;
    color: $secondaryColor;
  }

  &__header-search-categories-item {
    @apply block px-2 py-1 font-bold  border-b;
    color: $secondaryColor;
    &:hover {
      @apply text-gray-600;
    }
  }
  &__header-search-input-container {
    @apply relative p-0;
  }
  &__header-buttons {
    @apply border-b shadow-xs;

    &__item {
      @apply flex items-center;
      color: $secondaryColor;
    }

    &__item-container {
      @apply flex-1;
    }

    &__item-right {
      @apply flex justify-end flex-1  gap-2;
      color: $secondaryColor;
    }
  }
  &__header-buttons-container {
    @apply flex items-center justify-between h-12;
  }





  &__categories {

    &__list {
      @apply mb-2  rounded;
    }

    &__list-item {

      color: $secondaryColor;
      &:hover {
        @apply text-gray-900
      }
    }
    &__name {
      @apply  py-1 px-3 mx-2   rounded-full font-bold text-center;
      //bg-white
      color: $secondaryColor;
      //border-color:rgb(249, 249, 249);border
    }
  }
}

.footer-section,.newslatter-item p,.footer-widget ul li a,.copyright-reserved .copyright-text,.footer-left ul li {
  background-color: $secondaryColor !important;
  color: white !important;
}
.newslatter-item .subscribe-form input {
  color: black !important;
  background-color: white !important;
}

.fixedHeader {
  position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    top: 0px;
  @apply border-b shadow;
    &__hide {
      @apply hidden;
    }
}


.or-login {
  // text-transform: inherit !important;
  letter-spacing: 0px !important;
}
.hero {
  &__item {
    // height: 160px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;


    // @screen md {
    //   height: 500px;
    // }
  }

  @apply mt-2;
}
