.product {
  //container
  @apply bg-white rounded-lg;

  &__list-item {


    @apply mb-0 bg-white p-2 pt-4 border-b border-r border-l border-t transition  text-center flex flex-col mt-3 border border-gray-500;

    &:hover {
      @apply shadow-md;
    }
    @screen md { @pply mt-0;}
  }


  &__list-item-model-number {

    @apply truncate;
  }

  &__list-item-content {

    @apply p-2 mt-5 overflow-hidden;
  }

  &__list-item-cart-options {
    @apply mt-2;
  }

  &__list-item-image-container {
    @apply overflow-hidden w-full;
  }

  &__list-item-image {
    @apply mx-auto object-contain;
    height: 240px;

  }

  &__list-item-category-name {
    @apply text-sm shadow rounded font-extrabold truncate inline-block py-1 px-2 text-white w-full text-center;
    background:rgb(87, 87, 87);
    

    &__out-of-stock {
      @apply bg-red-700;
    }
  }


  &__list-item-name {
    @apply block  mt-2 text-lg   font-extrabold text-black truncate;
  
    &:hover {
      @apply text-yellow-600;
    }

    @screen md {
      @apply text-xl;
    }

  }

  &__ratings-list {
    @apply flex gap-1 my-2 items-center justify-center;
  }

  &__ratings-svg {
    @apply w-4 h-4 fill-current;

    &__active {
      color: #ffbd00;
    }

    &__inactive {
      @apply text-gray-300;
    }
  }


  &__list-item-price {
    @apply mt-2 text-xl text-gray-900 font-bold inline-block line-through;
    text-decoration-color:red
  }

  &__list-item-currency {
    @apply text-sm text-web-primary font-bold;

  }

  &__list-item-old-price {
    @apply mt-0 text-3xl text-gray-900 font-bold inline-block;
  }

  &__add-to-cart-button {
    @apply bg-web-primary py-1 mx-auto text-center  font-extrabold text-white text-sm uppercase px-3 flex items-center justify-center gap-3 rounded-full;
    &:focus {
      @apply border-none outline-none
    }
  }

  &__add-to-cart-icon {
    // @apply w-8 h-8;
    width: 1.4rem;
    height: 1.4rem;
  }

  &__remove-from-cart-button {
    @apply bg-gray-400 py-2  py-1 mx-auto text-center  font-extrabold text-black text-sm uppercase px-3 flex items-center justify-center gap-3 rounded-full;;
    &:focus {
      @apply border-none outline-none
    }
  }


  &__show {
    @apply flex flex-col gap-4;
    @screen md {
      @apply flex-row gap-4;
    }

    &__image-container {
      // flex flex-col justify-between 
      @apply  w-full  items-center;
      @screen md {
        @apply w-4/12;
      }
    }

    &__image {
      @apply object-contain;

      //span {
      //  //width: 100%;
      //  //height: 100% !important;
      //}
    }

    &__images-grid {
      @apply grid grid-cols-4 gap-2 mt-5  p-2;
      background-color: #f3f3f3;

    }

    &__images-grid-image {
      @apply w-full object-contain cursor-pointer;
      height: 92px;

      background: white;
      border-radius: 9px;
      box-shadow: 1px 1px 1px -1px #545050;

      &:hover {
        //@apply bg-red-50;
        @apply shadow-lg;
      }
    }

    &__images-active-image {
      @apply bg-gray-100;
    }

    &__details {
      @apply  w-full text-center flex flex-col justify-center content-center mx-auto ;
      @screen md {
        @apply w-8/12;
      }
    }

    &__details-bg {
      @apply pt-3 bg-white border;
    }

    &__details-name {
      @apply text-2xl uppercase tracking-wide font-bold;
    }

    &__details-model-number {
      @apply mt-2 text-xl text-gray-900 font-bold inline-block;
    }

    &__details-slash-price {
      @apply mt-5 text-2xl text-gray-900 font-bold inline-block line-through;
      text-decoration-color:red
    }

    &__details-currency {
      @apply text-sm text-web-primary font-bold;
    }


    &__details-price {
      @apply mt-0 font-extrabold text-3xl text-gray-900 inline-block;
      screen md {
        @apply text-5xl;
      }
    }

    &__details-actions {
      @apply my-2 flex gap-3 items-center justify-center;
    }


    &__details-specification-title {
      @apply text-lg font-bold text-center mt-5;
    }

    &__details-specification-table-container {
      @apply mt-3 pt-0 text-left w-full ;
      margin-top: 0px !important;
      

    

      @screen md {
        @apply mt-1 ;
      }

      &__mobile {
        @apply hidden pt-0 mt-2 bg-white;
        @screen md {
          @apply block ;
        }
      }


      &__pc {
        @apply  pt-0 mt-2 bg-white visible;
        @screen md {
          @apply  hidden ;
        }
      }
    }

    &__details-specification-table {
      @apply w-full bg-white;
    }


    &__details-specification-table-cell {
      @apply bg-gray-100 py-1 px-3 font-bold text-left;
    }


    &__details-specification-table-title-cell {
      @apply bg-white py-1 px-3 font-bold text-left p-2 text-center text-black;
      // border-color: #e7e7e7;
      // background-color: #f3f3f3;
      // color: #555;
    }


    &__details-specification-table-raw {
      @apply py-1;
    }


    &__details-specification-table-value-cell {
      @apply text-left py-1 px-3 font-bold p-2 text-sm;
    }

  }





  &__search-page {
    @apply mt-3 bg-white shadow-lg rounded-lg;
  }

  &__search-options {
    @apply flex justify-between items-center gap-6;
  }
  &__search-filters {
    @apply w-full text-gray-800;
    @screen md {
      @apply w-48;
    }
  }

  &__search-option-button {
    @apply w-full flex justify-center gap-3 items-center py-1 text-white;
  }

  &__search-option-icon {
    @apply w-4 h-4;
  }

  &__search-filter-value {
    @apply w-full flex items-center gap-2 text-black
  }
  
  &__search-sorting {
    @apply w-full relative;

    @screen md {
      @apply w-48;
    }
  }

  &__search-sorting-panel {
    @apply w-full absolute z-50;
  }

  &__search-sorting-panel-content {
    @apply bg-white shadow-xl rounded-lg w-full;
  }

  &__search-sorting-list {
    // @apply  divide-gray-300;
  }

  &__search-sorting-list-item {
    @apply p-2  cursor-pointer;
    &:hover {
      @apply bg-gray-100;
    }

    &__active {
      @apply bg-gray-200;
    }
  }

  &__hor-list-item {
    @apply mx-1 w-64;
  }

  &__related-products-area {
    @apply pt-3 mt-32 border-t-2;

    @screen md {
      @apply mt-20;
    }
  }


  &__show-more-button-container {
    @apply text-center flex items-center justify-center my-3;
  }
  &__show-more-button {
    @apply bg-yellow-600 px-2 py-1 rounded shadow-lg text-white;
  }


}



.specification-table table tr td {
  border-color:  #d2e8ff !important;
}