@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap);

// html {
//     font-family: 'Roboto Condensed', sans-serif;

//     font-size:18px;
// }

*:not(i) {
  font-family: 'Roboto Condensed', sans-serif !important;

    font-size:18px;
}


body {
  background-color: #f9f9f9 !important;
}
.footer-section {
  padding-top: 28px;
}

.copyright-reserved {
  margin-top: 0px;
}

.footer-widget h5 {
  margin-bottom: 6px;
}

.footer-left .footer-logo {
  margin-bottom: 4px;
}

.inner-header .advanced-search .input-group button {
  height: 100%;
  top: 0px;
}
.footer-left .footer-social a ,.inner-header .advanced-search .input-group button
{
  display: inline-flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}


.page__header-cart-icon-container {
  @apply pt-3;
}
.inner-header {
  padding: 2px 0;
}

.cart-table table tr td.qua-col .pro-qty input {
  text-align: center !important;
}

.inner-header .logo,.inner-header .nav-right {
  padding: 0px 0;
}

.inner-header .nav-right 
{
  margin-bottom: 0px;
}

.cart-table,.cart__totals-buttons {
  background-color: white
}

.cart-table table tr td.p-price, .cart-table table tr td.total-price {
  color: black;
}

.inc_tax {
  font-size: 14px;
}

.breadcrumb-text-disable-last a:last-child
{
    pointer-events: none;
   cursor: default;
}


.breadcrumb-text {
  padding: 6px 0 !important; 
}


.breadcrumb-text a {
  margin-right: 0px;
  margin-left: 15px;
  font-size: 13px;
  color: #777777;
}

.breadcrumb-text a:last-child:after {
  content: "" !important;
}


.breadcrumb-text-disable-last a:first-child
{
  margin-right: 0px;
}


.breadcrumb-text a::after {
  right: -10px !important;
  font-size: 12px;
}

.v-hl-svg {
  background: rgba(0, 0, 0, 0.5) !important;
  color: white !important;
}




.el-checkbox.is-bordered {
  padding: 9px 20px 9px 20px !important;
  margin-bottom: 0px !important;
}