.ali-submit-btn {
	margin-top:20px;
	border: none;
	color: white;
	font-size: 18px !important;
	padding: 10px 32px;
	text-align: center;
	width: 180px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px; 
}

.ali-rfloat {
	float: right
}


.select2 option {
	
}

#navbar-list li i {
	font-size:16px;
	margin-left: 10px;
}

#navbar-list li i:first-child{

	margin-right: 10px;
}

