
.treeview-menu li > a {
    font-size: 17px !important;
    padding: 12px !important;
    padding-right: 19px !important;
    border-bottom: 1px solid #192125 !important;

}


.treeview {
    border-bottom: 1px solid !important;
    font-size: 18px !important;
    background: #333 !important;
    margin-bottom: 3px !important;
}


.treeview a span {
    margin-right: 5px !important;
}

.bg-custom-primary {
    background-color: #0984e3  !important;
    color:white !important;
}

.panel-custom-form {
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.inputErrorClass {
    border: 2px solid red !important;
}